@font-face {
    font-family: "MonaSansThin";
    src: url(/fonts/Mona-Sans.ttf) format("truetype");
    font-display: swap;
    font-weight: 300;
}

@font-face {
    font-family: "MonaSansBold";
    src: url(/fonts/Mona-Sans.ttf) format("truetype");
    font-display: swap;
    font-weight: 700;
}

@font-face {
    font-family: "HubotSans";
    src: url(/fonts/Hubot-Sans.ttf) format("truetype");
    font-display: swap;
    font-weight: 900;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

:root {
    color-scheme: light dark;

    --text-color: light-dark(#605D5D ,#EFEFEF); 
    --background-color: light-dark(#EFEFEF, #212121);
    --grid-color: light-dark(#A4A4A4, #5C5C5C);

    --grid-blend-mode: light-dark(darken, lighten);

    --statement-font: "HubotSans", sans-serif;
    --statement-font-width: "wdth" 80;

    --regular-font-thin: "MonaSansThin", sans-serif;
    --regular-font-bold: "MonaSansBold", sans-serif;
    --regular-font-width: "wdth" 75;

    --corner-radius: 2rem;
    --border-thickness: 0.5rem;

    --gap: 1rem;
    --spacing: 1rem;
    --spacing-border: calc(var(--spacing) + var(--border-thickness));
    --header-height: calc(var(--spacing-border) * 3.75);
}

.light-mode {
    --text-color: #605D5D;
    --background-color: #EFEFEF;
    --grid-color: #A4A4A4;
    --grid-blend-mode: darken;
  }
  
.dark-mode {
    --text-color: #EFEFEF;
    --background-color: #212121;
    --grid-color: #5C5C5C;
    --grid-blend-mode: lighten;
}

html {
    scroll-behavior: smooth;
}

body {
    background: var(--background-color);
    color: var(--text-color);
}

body::before {
    content: "";
    position: fixed;
    inset: 0;
    outline: 1rem solid var(--text-color);
    border: var(--border-thickness) solid var(--text-color);
    border-radius: var(--corner-radius);
    outline-offset: -0.15rem; 
    pointer-events: none;
    z-index: 9999;
}

body::after {
    content: "";
    position: fixed;
    inset: 0;
    background-image: url('/images/noise.png');
    pointer-events: none;
    opacity: 0.03;
}

main {
    /* display: grid; */
    /* grid-template-columns: repeat(12, 1fr); */
    /* grid-template-columns: 1fr; */
    /* grid-template-rows: auto 13.8888888889vw auto; */
}

h1, h2 {
    color: var(--text-color);
    font-family: var(--statement-font);
    font-variation-settings: var(--statement-font-width);
}

p {
    color: var(--text-color);
    font-family: var(--regular-font-thin);
    font-variation-settings: var(--regular-font-width);
}

a {
    text-decoration: none;
    color: var(--text-color);
}

li {
    list-style: none;
}

button {
    border: none;
    background: none;
    appearance: none;
  }

.caps {
    text-transform: uppercase;
}

@media (width > 768px) {
    :root {
        --border-thickness: 0.75rem;
        --gap: 2rem;
        --spacing: 2rem;
        --header-height: calc(var(--spacing-border) * 2.75);
    }

    /* main {
        min-height: calc(100lvh - var(--header-height) * 1.5);
    } */
}