<div class="grid" aria-hidden="true">
    <div class="grid__item"></div>
    <div class="grid__item"></div>
    <div class="grid__item"></div>
    <div class="grid__item"></div>
    <div class="grid__item"></div>
    <div class="grid__item"></div>
    <div class="grid__item"></div>
    <div class="grid__item"></div>
    <div class="grid__item"></div>
    <div class="grid__item"></div>
    <div class="grid__item"></div>
    <div class="grid__item"></div>
    <div class="grid__item"></div>
    <div class="grid__item"></div>
    <div class="grid__item"></div>
    <div class="grid__item"></div>
    <div class="grid__item"></div>
    <div class="grid__item"></div>
    <div class="grid__item"></div>
    <div class="grid__item"></div>
</div>

<style>
.grid {
    position: fixed;
    inset: 0;
    display: grid;
    grid-template-columns: var(--spacing-border) 1fr 1fr 1fr var(--spacing-border);
    grid-template-rows: 1fr 1fr 1fr;
    pointer-events: none;
    mix-blend-mode: lighten;
    opacity: 0.5;
    z-index: 100;
}

.grid__item {
    grid-column: span 1;
    border-left: 1px solid var(--grid-color);
    border-bottom: 1px solid var(--grid-color);
}
</style>